@import "./variables.scss";
.billboard-container {
  padding: 1rem;
  margin-bottom: 2.5rem;

  .billboard-image {
    width: 100%;

    img {
      display: block;
      width: 90%;
      margin: auto;
    }
  }

  h1 {
    width: 350px;
    text-transform: capitalize;
  }

  .call-to-action {
    display: flex;
    gap: 1rem;

    a.btn {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
}
