.deliver-with-us-section {
  .contents {
    @media only screen and (min-width: 850px) {
      display: flex;
      gap: 3rem;
      align-items: center;

      flex-direction: row-reverse;
    }

    margin-top: 3rem;
    padding: 1rem;

    .img-container {
      display: grid;
      place-content: center;

      margin-top: 2rem;

      @media only screen and (min-width: 850px) {
        flex: 1;
      }

      img {
        width: 90%;
        margin: 2rem auto;

        @media only screen and (min-width: 850px) {
          width: 100%;
        }
      }
    }
    .text-content {
      @media only screen and (min-width: 850px) {
        flex: 1;
      }

      h1 {
        margin-bottom: 1.5rem;
      }

      p {
        max-width: 450px;
      }
    }
  }
}
