header {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    padding: 1rem;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.3s ease-in-out;

    background: #05d9d3;

    &:hover {
      background: #b8fffd;
    }
    .stroke {
      height: 2px;
      width: 24px;

      border-radius: 5rem;

      background: #000;
    }
  }
}
