@import "./variables.scss";
.showcase-container {
  background-color: $theme-white;

  .contents {
    padding: 3rem 1rem;
    margin-bottom: 2.5rem;

    @media only screen and (min-width: 850px) {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    .img-container {
      margin-bottom: 1.5rem;

      img {
        width: 100%;
        max-width: 550px;
      }
    }

    h1 {
      color: $theme-black;
      max-width: 400px;
    }

    p {
      margin: 1rem 0;

      color: $theme-black;
    }
  }
}
