@import "./variables.scss";
.showcase-container {
  padding: 3rem 1rem;
  margin-bottom: 2.5rem;

  background-color: $theme-white;

  .img-container {
    margin-bottom: 1.5rem;

    img {
      width: 100%;
    }
  }

  h1 {
    color: $theme-black;
  }

  p {
    margin: 1rem 0;

    color: $theme-black;
  }
}
